
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  --font-family: "IMB Plex Sans", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a0a87a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-item-form{
  width: 100%;
  background-color: #CDF7F6;
  min-height: 50vh;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-left: 20%;
}

.App-link {
  color: #61dafb;
}

.ant-form-item .ant-form-item-label >label {
  font-family: 'IBM Plex Sans', sans-serif;
}

.ant-upload {
  background-color: white;
  border-radius: 5%;
}

ant-picker-outlined:focus, .ant-picker-outlined:focus-within{
  border-width: 2px;
  border-color: #134074;
}

ant-input-number-outlined:focus, .ant-input-number-outlined:focus-within {
  border-width: 2px;
  border-color: #134074;
}

.ant-input-outlined:focus-within{
  border-width: 2px;
  border-color: #134074;
}

.ant-select-selector .ant-select-selection-search-input .ant-select-open
{
  border-width: 2px;
  border-color: #134074;
}


.ant-table-cell{
  background-color: #CDF7F6;
  border-color: #FFFFFF;
  border-style: solid;
}

ant-pagination-item ant-pagination-item-1 ant-pagination-item-active{
  border-color: #134074;
  border-style: solid;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
